@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  margin: 0;
  background-image: url("imgs/tile.png");
  /* background-image: url("imgs/cloud.png"), url("imgs/tile.png"); */
  /* background-repeat: no-repeat, repeat;
  background-position: bottom left, top left;
  background-size: 300px 300px, 300px 300px; */
}

h1 {
  background-image: url("imgs/bar.png"); 
  color: beige;
  padding: 10px 0;
  margin: 0 0 1em 0;
  font-size: 1.75em;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

img {
  width: 50px;
  height: 50px;
}

div.footer {
  position: fixed;
  bottom: 0px;
  background-image: url("imgs/bar.png");
  width: 100%;
  height: 66px;
}

img.cloud {
  display: none;
}

img.counter {
  position: absolute;
  bottom: 4px;
  right: 20px;
  width: 60px;
  height: 60px;
}

span.num {
  position: absolute;
  bottom: 20px;
  right: 25px;
  font-size: 1.5em;
  color: beige;
  text-align: center;
  width: 50px;
}

[class^="row"] {
  display: flex;
  justify-content: center;
}

[class^="row"] div {
  min-width: 100px;
  min-height: 100px;
}

figure {
  margin: 5px 10px;
}

figcaption {
  display: none;
}

figure:hover figcaption {
  box-sizing: border-box;
  display: block;
  position: absolute;
  padding: 7px;
  border: 1px beige solid;
  background: rgba(0, 0, 0, 0.9);
  bottom: 66px;
  right: 0;
  max-width: 97vw;
  z-index: 9;
  color: beige;
  margin: 5px;
}

figcaption h3 {
  width: 100%;
}

p, span {
  color: gray;
}

span {
  float: right;
  padding-top: 7px;
}

h2,h3,span {
  text-transform: uppercase;
}

h2,h3,p {
  display: inline-block;
  margin: 0;
}
h3::before {
  content: "";
  width: 100%;
  display: inline-block;
  border-top: 1px solid beige;
}

figure.first {
  background: white;
  box-shadow: 20px 20px 50px 15px grey;

}

figure.second {
  background: yellow;
  box-shadow: 20px 20px 50px 15px grey;
}


@media screen and (min-width: 400px) {


  
  img {
    width: 100px;
    height: 100px;
  }

  img.cloud {
    display: block;
    width: 300px;
    height: 300px;
  }

  img.counter {
    bottom: 40px;
    left: 30px;
    width: 100px;
    height: 100px;
  }

  /* span.num {
    bottom: 56px;
    left: 36px;
    font-size: 1.5em;
  } */

  span.num {
    bottom: 66px;
    left: 56px;
    font-size: 2.5em;
  }

  figure:hover figcaption {
    max-width: 400px;
    bottom: 0;
  }

  div.footer {
    position: fixed;
    bottom: 0px;
    background-image: none;
    width: unset;
    height: unset;
  }

}